# Data Preparation

Dataset: <a href="https://www.kaggle.com/new-york-city/nyc-property-sales/downloads/nyc-property-sales.zip/1">NYC Property Sales</a><br>
Filename: nyc-rolling-sales.csv<br>
Target Variable: SALE PRICE

<table>
  <tr>
    <th>Feature_Name</th>
    <th>Feature_Type</th>
  </tr>
  <tr>
    <td>Unnamed: 0</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>BOROUGH</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>NEIGHBORHOOD</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>BUILDING CLASS CATEGORY</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>TAX CLASS AT PRESENT</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>BLOCK</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>LOT</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>EASE-MENT</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>BUILDING CLASS AT PRESENT</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>ADDRESS</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>APARTMENT NUMBER</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>ZIP CODE</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>RESIDENTIAL UNITS</td>
    <td>NUMERICAL</td>
  </tr>
  <tr>
    <td>COMMERCIAL UNITS</td>
    <td>NUMERICAL</td>
  </tr>
  <tr>
    <td>TOTAL UNITS</td>
    <td>NUMERICAL</td>
  </tr>
  <tr>
    <td>LAND SQUARE FEET</td>
    <td>NUMERICAL</td>
  </tr>
  <tr>
    <td>GROSS SQUARE FEET</td>
    <td>NUMERICAL</td>
  </tr>
  <tr>
    <td>YEAR BUILT</td>
    <td>NUMERICAL</td>
  </tr>
  <tr>
    <td>TAX CLASS AT TIME OF SALE</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>BUILDING CLASS AT TIME OF SALE</td>
    <td>CATEGORICAL</td>
  </tr>
  <tr>
    <td>SALE PRICE</td>
    <td>NUMERICAL (TARGET)</td>
  </tr>
  <tr>
    <td>SALE DATE</td>
    <td>DATETIME</td>
  </tr>
</table>

## Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
# Set Options for display
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
pd.options.display.float_format = '{:.2f}'.format

#Filter Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
from scipy.stats import norm
from scipy import stats

________

## Load the Dataset
* Specify the Parameters (Filepath, Index Column)
* Check for Date-Time Columns to Parse Dates
* Check Encoding if file does not load correctly

In [44]:
df = pd.read_csv("./nyc-rolling-sales.csv")

View the Dataset

In [45]:
df.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,10009,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,10009,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,10009,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,10009,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

Check the Shape

In [40]:
df.shape

(84548, 21)

## Ensure Columns / Features have Proper Labels

Remove any columns that have not been labelled properly or are of unknown feature type

In [46]:
df.columns

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [42]:
# REPLACING SPACES WITH UNDERSCORE
correct_col_names = []

for col_name in df.columns:
    splitted_name = col_name.split(' ')
    if len(splitted_name) == 1:
        correct_col_names.append(col_name)
    else:
        joined_name = '_'.join(splitted_name)
        correct_col_names.append(joined_name)

# REASSIGN COLUMN HEADERS
df.columns = correct_col_names

## Ensure Correct Format of Values

Use the table above as reference

In [43]:
df.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING_CLASS_CATEGORY           object
TAX_CLASS_AT_PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING_CLASS_AT_PRESENT         object
ADDRESS                           object
APARTMENT_NUMBER                  object
ZIP_CODE                           int64
RESIDENTIAL_UNITS                  int64
COMMERCIAL_UNITS                   int64
TOTAL_UNITS                        int64
LAND_SQUARE_FEET                  object
GROSS_SQUARE_FEET                 object
YEAR_BUILT                         int64
TAX_CLASS_AT_TIME_OF_SALE          int64
BUILDING_CLASS_AT_TIME_OF_SALE    object
SALE_PRICE                        object
SALE_DATE                         object
dtype: object

## Remove Duplicates

Check if there are duplicated rows

In [23]:
df.duplicated().sum()

765

Remove the duplicates if any

In [25]:
df.drop_duplicates(inplace=True)

Check if the rows are dropped

In [26]:
df.shape

(83783, 21)

## Handle Missing Data

Hint: You may have to use the describe function to properly handle missing values for this dataset
<br>

For the Target Variable:
Many sales occur with a nonsensically small dollar amount: USD0 most commonly. These sales are actually transfers of deeds between parties: for example, parents transferring ownership to their home to a child after moving out for retirement. For our purposes, let's remove any sale price that is less than USD10,000.00

_______

## Remove Outliers

### Univariate

Check the Distribution of the Target Column

Remove outliers using any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR

*The interquartile range (IQR), is equal to the difference between 75th and 25th percentiles 
IQR = Q3 − Q1.*

<a href="https://en.wikipedia.org/wiki/Interquartile_range">More information</a>

View the changes in distribution after removing the outliers

______

## Split into Numerical, Categorical, and Target

_______

## Scale the Numerical Features

Scale using the Robust Scaler

_______

## Manage Categorical Variables

Get the statistics for Categorical columns
* Drop those with more than 1000 unique values.
* Drop also the features that would not be known at the time of sale. 
    * Features with "AT PRESENT" tags

 Convert Categories to Number

_______

# Save the final dataset as a CSV File

### Check if it loads correctly