# Data Preparation

Dataset: <a href="https://www.kaggle.com/c/titanic/data">Kaggle Titanic Data</a><br>
Filename: Titanic_train.csv

## Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
# Set Options for display
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
pd.options.display.float_format = '{:.2f}'.format

#Filter Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
from scipy.stats import norm
from scipy import stats

________

# Part 1 - All Features

## Load the Dataset
* Specify the Parameters (Filepath, Index Column)
* Check for Date-Time Columns to Parse Dates
* Check Encoding if file does not load correctly

In [6]:
df = pd.read_csv("./train.csv", index_col='PassengerId')

View the Dataset

In [8]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,NaN,S

Check the Shape

In [9]:
df.shape

(891, 11)

Set the correct index

## Ensure Columns / Features have Proper Labels

In [11]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## Ensure Correct Format of Values

In [12]:
df.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

## Remove Duplicates

Check if Index is duplicated

In [13]:
df.index.duplicated().sum()

0

Check if there are duplicated rows

In [14]:
df[df.duplicated()]

Empty DataFrame
Columns: [Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

Remove the duplicates if any

In [15]:
df.drop_duplicates(inplace=True)

## Handle Missing Data

Check for missing data

In [19]:
#Gets the total number of missing data
total = df.isnull().sum().sort_values(ascending=False)

In [20]:
#Get % of Null
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)

In [21]:
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

missing_data.head(20)

          Total  Percent
Cabin       687     0.77
Age         177     0.20
Embarked      2     0.00
Survived      0     0.00
Pclass        0     0.00
Name          0     0.00
Sex           0     0.00
SibSp         0     0.00
Parch         0     0.00
Ticket        0     0.00
Fare          0     0.00

Handle the columns with missing values
* For numerical values, fill in with either the mean or the median
* For categorical values, fill with a value to represent Unknown values.

## Check the Distribution of the Target Variable

## Split into Numerical, Categorical, and Target

_______

# Part 2 - Numerical Features

Get the statistics for numerical data

Analyze the following features:
1. Pclass
    1. Get Value Counts
2. Age
    1. Plot the distribution
    2. Create a Boxplot
3. Fare
    1. Plot the distribution
    2. Create a Boxplot

*For now, do not remove any outliers*

## Feature Scaling

Check Scale of Features

Use the MinMax Scaler to scale the numerical features

______

# Part 3 - Categorical Features

Get the statistics for the categorical features

Remove any categorical features which does not add value to the model.<br>
In this case this would be the following features:
* Name = name of the passenger
* Ticket = ticket number
* Cabin = cabin number

Print categorical values for each feature

Convert Categories to Number

_______

# Combine all the prepared dataframes

## Save final DataFrame as a csv file

### Check if it loads correctly